#wrapperModal-devis {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 

  }
  
  .contentModal-devis {
    background-color: #fefefe;
    margin: auto;
    width: 900px;
    height: 600px;
    border: none;
    border-radius: 3px;
  }

/*--- Modal "Ma voiture" ---*/

/* Modal header */
.modal-header{
    background-image: url(/img/Shiny\ Overlay\ \(2\).svg);
    height: 180px;
    width: 100%;
}

.wrapper-devis{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cercle-devis{
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trait{
  border: 1px solid white;
  width: 90px;
}
/* Modal header */

/* Modal main */
.wrapper-main-devis-maVoiture{
  width: 100%;
  height: 300px;
}

.title-main-devis{
  padding-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  height: 20%;
}
.contain-form-devis-maVoiture{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-form-devis-maVoiture > form{
  height: 80%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "itm1 itm3"
  "itm5 itm7";
  padding-top: 40px;
  gap: 3px;

}

.contain-form-devis{
  width: 220px;
  justify-self: center;
}

.title-devis-form{
  font-weight: 500;
  font-size: 15px;
  align-self: flex-end;
}

.input-form{
  border-radius: 3px;
  box-shadow:0 0 19px 5px #0000002e;
  width: 220px;
  height: 35px;
  text-indent: 10px;

}

.input-form::-webkit-input-placeholder {
  font-weight:600;
  color:rgba(0, 0, 0, 0.20);
}

.imma{
  grid-area: itm1;
  justify-self: center;

}

.km{
  grid-area: itm3;
}

.serv{
  grid-area: itm5;
}

.prest{
  grid-area: itm7;
}


.chevron-menu-deroulant{
  position: relative;
  left: 195px;
  top: -20px;
  cursor: pointer;
}
/* Modal main */

/* Modal footer */

.modal-footer{
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: start
}

.modal-footer > button{
  background-color: #D92332;
  color: white;
  width: 30%;
  height: 35px;
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
/* Modal footer */
/*--- Modal "Ma voiture" ---*/

/*--- Modal "Mon devis" ---*/

.wrapper-main-devis{
  font-weight: 500;
}

/*--- Modal "Mon devis" ---*/

/*--- Modal "Mon garage" ---*/
.modal-main{
  height: 300px;
}

.wrapper-main-devis{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contain-checkbox-monGarage{
  font-weight: 500;
}

.contain-checkbox-monGarage > div{
  padding-bottom: 15px;
  width: 400px;
}

/*--- Modal "Mon garage" ---*/

/*--- Modal "Mon RDV" ---*/

.wrapper-main-devis-monrdv > div, .wrapper-main-horaire > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-main-devis-monrdv > div >h2, .wrapper-main-horaire > div > h2{
  font-size: large;
  font-weight: 500;
  padding-top: 20px;
}

.contain-monRdv, .contain-horaire{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;

}

.contain-monRdv > .form-rdv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas: 
  "itm1 itm2"
  "itm3 itm4"
  "itm5 itm4";
  width: 600px;
}

.contain-monRdv > form > div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: center;
}

.title-devisMonRdv-form{
  font-weight: 500;
  font-size: 15px;
}
#text{
  height: 100px;
  max-height: 100px;
}
.elmt1{
  grid-area: itm1;
}
.elmt2{
  grid-area: itm2;
}
.elmt3{
  grid-area: itm3;
}
.elmt4{
  grid-area: itm4;
  height: 100%;
}
.elmt5{
  grid-area: itm5;
}

.input-form-rdv{
  border-radius: 3px;
  box-shadow:0 0 19px 5px #0000002e;
  text-indent: 10px;
  width: 250px;
  height: 35px;
}
.input-form-rdv::-webkit-input-placeholder{
  font-weight:600;
  color:rgba(0, 0, 0, 0.20);
}
input[type="date"]{
  font-weight:600;
  color:rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  box-shadow:0 0 19px 5px #0000002e;
  text-indent: 5px;
  width: 250px;
  height: 35px;
}
/*--- Modal "Mon RDV" ---*/

/*--- Modal "Mon horaire" ---*/

.contain-horaire{
  height: 240px;
}
.contain-horaire > form{
  display: flex;
  align-items: center;
  width: 20%;
  justify-content:space-between;
}
.horaire-bloc{
  gap: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.horaire-bloc > div {
  font-weight: 500;
  padding-bottom: 10px;
}

/*--- Modal "Mon horaire" ---*/


/*--- Modal Valide ---*/
#modalValid{
  background-color: #fefefe;
    margin: auto;
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 3px;
    position: relative;
}
.contain-modalValid{
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#cercle-valid{
  height: 150px;
  width: 150px;
  background: #32CD32;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -140px;
}

.text-modalValid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-modalValid > h2{
  font-weight: 800;
  padding-bottom: 20px;
}

.text-modalValid > p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.295);
}

.btn-modalvalid > button{
  width: 330px;
  height: 35px;
  background-color: #32CD32;
  border-radius: 3px;
  color: white;
  font-weight: 500;
}

/*--- Modal Valide ---*/

